        inbox {
            @include settingAnimationHeader;
            .fade-in-left-item {
                -webkit-animation: fadeInLeft 800ms;
                -moz-animation: fadeInLeft 800ms;
                -o-animation: fadeInLeft 800ms;
                animation: fadeInLeft 800ms;
            }
            .iconColor {
                font-size: 35px;
                margin-top: 20%;
            }
            .subject {
                font-size: 13px !important;
                text-overflow: inherit;
                white-space: normal;
                margin-top: 13px;
            }
            ion-item-options {
                border-bottom: 1px solid theme-colors('mainColors', 'secondary') !important;
                button {
                    color: theme-colors('textColors', 'secondaryBase');
                    letter-spacing: 1px;
                    font-size: $h4-font-size !important;
                }
            }
            .toolbar-ios {
                min-height: 64px;
            }
            .bar-button-default-ios,
            .toolbar-title-ios {
                padding-top: 20px;
            }
            .content-ios .scroll-content {
                top: -64px !important;
            }
            [button-action-shit] {
                z-index: 99999;
                right: 16px;
                top: 56px;
            }
            // .scroll-content {
            //     top: -56px;
            // }
            [background-size] {
                height: 66%;
                position: relative;
            }
            ion-item-divider {
                .label-ios,
                .label-md {
                    margin: 0 !important;
                }
                ion-badge {
                    position: absolute;
                    bottom: -1px;
                    right: 5px;
                }
            }
            // New Category
            [new-category] {
                display: block;
                font-size: 11px;
                color: theme-colors('textColors', 'accent') !important;
                margin-bottom: 5px;
            }
            // Parallax Title
            [parallax-title] {
                color: theme-colors('textColors', 'accentDark') !important;
                font-size: $h2-font-size !important;
            }
            // Parallax Title
            [parallax-subtitle] {
                color: theme-colors('textColors', 'secondary') !important;
                font-size: $h3-font-size !important;
            }
            .item[no-lines],
            .item.item[no-lines] .item-inner {
                border: 0;
                padding: 0 !important;
                margin: 0;
            }
            .iconActionsColor {
                color: #246275;
                font-size: 30px;
                text-align: left;
                cursor: pointer;
            }
            .col {
                padding: 0 !important;
            }
            .swiper-pagination-bullet-active {
                background: #246275 !important;
            }
            .top {
                margin-top: 13px;
            }
            .backread {
                background: #ECECEC;
                margin: 0.5%;
            }
            .background {
                background: #fff;
                margin: 0.5%;
            }
            .userNameStyle {
                color: #246275;
                font-size: 15px;
            }
            .inboxTitle {
                font-size: 17px !important;
                color: #246275 !important;
            }
            .typeName {
                text-overflow: inherit;
                white-space: normal;
                font-size: 13px !important;
                margin-top: 13px;
            }
            .title {
                font-size: 13px !important;
                text-overflow: inherit;
                white-space: normal;
                margin-top: 13px;
            }
        }