page-simple-form {
    .topbtn {
        border-radius: 70% !important;
        padding: 13px !important;
        box-shadow: 3px 3px 7px 1px #ccc;
        width: 41px;
        height: 41px;
    }
    .textalign {
        text-align: right;
    }
    .saveText {
        width: 85px;
        border-radius: 4px;
    }
    .rowPad {
        margin-left: 4px;
    }
    .padding0 {
        padding: 0 !important;
    }
}